<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; 4 Women 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><img src="img/Twitter-48.png"/></a>
                    </li>
                    <li><a href="#"><img src="img/facebook-48.png"/></a>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Política de Privacidade</a>
                    </li>
                    <li><a href="#">Termos de Uso</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
