
  <div class="whoWeArePage">
    <div class="container">
      <h1>Quem somos?</h1>
      <p>A empresa 4 Women é formada por duas estudantes de
        Engenharia de Computação da Universidade Federal da Bahia
      (UFBA)</p>
      <p>Andressa Andrade - </p>
      <p>Nailane Oliveira - </p>
      <p>Renata Antunes - </p>
    </div>
  </div>
